<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/assets/css/stylereg.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap"
    rel="stylesheet">
    <title>Password Change</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Clothes</div>

            <nav class="nav">
                <a class="nav__link" href="#">About</a>
                <a class="nav__link" href="#">Contact</a>
                <a class="nav__link" href="register/">Login</a>
            </nav>
        </div>
    </div>
</header>

    <main>
       <form action="{% url 'password_change' %}" method="post">
           {% csrf_token %}
            <div class="register-form-container">
                <h1 class="form-title">
                    Изменение пароля
                </h1>
                <div class="form-fields">
                    <div class="form-field">
                        {{ form.old_password }}
                        <div class="form-error">{{ form.old_password.errors }}</div>
                    </div>
                    <div class="form-field">
                        {{ form.new_password1 }}
                        <div class="form-error">{{ form.new_password1.errors }}</div>
                    </div>
                    <div class="form-field">
                        {{ form.new_password2 }}
                        <div class="form-error">{{ form.new_password2.errors }}</div>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="submit" class="button">Изменить пароль</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>